body{
	margin: 0 auto !important;
}
.header{
	background: #414141;
	padding: 20px;
}
.logo{
	font: 500 40px Josefin Slab;
	color: #fff;
	float: left;
	line-height: 62px;
}
.header-nav{
	float: right;
	display: block;
}
@media(max-width:991px){
	.header-nav{
		display: none;
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}
}
@media(min-width:992px){
	.header-nav{
		display: block !important;
	}
}
.header-nav li{
	display: inline-block;
	vertical-align: center;
	font: 500 20px Roboto;
}
.header-nav ul{
	margin: 0px;
}
.header-nav a{
	color: #fff !important;
	text-decoration: none !important;
	line-height: 60px;
	display: block;
	padding: 0px 15px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.header-nav a:after{
	display: block;
	height: 2px;
	width: 0;
	background-color: #fff;
	content: "";
	-webkit-transition: width .25s;
	-o-transition: width .25s;
	transition: width .25s;
}
.header-nav a:hover:after{
	width: 100%;
}
.fast-portfolio{
	padding: 30px;
}
.fast-portfolio .title{
	margin-top: 20px;
	font: 200 40px Roboto;
	color: #414141;
	text-align: center;
}
.fast-portfolio i{
	color: 	#b21222;
	padding: 0px 25px;
}
.port-images{
	text-align: center;
	margin-top: 80px;
	max-height: 200px;
	overflow: hidden;
}
.port-crop{
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 500px;
	overflow: hidden;
	margin: 0px 40px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.port-crop:hover{
	padding-left: 20px;
}
.port-images img{
	width: 300px;
	margin-left: -65px;
	height: auto;
}
.port-about{
	margin-top: 100px;
}
.about-title{
	font: 800 40px Roboto;
	color: #434343;
}
.about-content{
	margin-top: 40px;
	font: 300 16px Roboto;
	max-width: 500px;
}
.port-about i{
	margin-top: 40px;
	font-size: 150px;
	color: #4862fd;
	float: right;
}
.about-main{
	float: left;
}
.contacts{
	background: #686868;
	font: 300 20px Roboto;
	color: #fff;
	min-height: 270px;
}
.con-numbers{
	line-height: 50px;
	display: inline-block;
	margin: 0px 40px;
}
.con-title{
	font: 800 40px Roboto;
	text-align: center;
	padding: 25px;
}
.contacts i{
	font-size: 150px;
	color: #fff;
	float: right;
	padding: 0 25px;
}
.footer{
	margin-top: 100px;
	min-height: 100px;
	background: #488a1f;
}
.footer .logo{
	line-height: 100px;
	display: inline-block;
}
.copyright{
	color: white;
	font: 300 15px Roboto;
	margin: 25px 60px;
	max-width: 800px;
	display: inline-block;
	float: left;
}
.header-xs-button{
	float: right;
	font-size: 40px;
	color: #fff;
	height: 62px;
}
.header-xs-button:hover{
	cursor: pointer;
}
.header-xs-button i{
	line-height: 62px;
}
